
.main {
	margin: 0 auto;
	width: 100%;
}

.flexslider {
	margin: 0;
	padding: 0;
	height:auto;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides > li > div{width:100%;padding-bottom:30%;height:auto; position:relative; overflow:hidden;}
.flexslider .slides > li > div > a{position:absolute;left:0;top:0;height:100%;}
.flexslider .slides img {
	display: block;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.flexslider {
	margin: 0 auto;
	position: relative;
	width:100%;
	zoom: 1;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides img{
	width:100%;
	height:100%;
}
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width: 30px;
	height: 45px;
	margin: -30px 0 0;
	display: block;
	background: url(../images/ad_ctr.png) no-repeat 0 0;
	background-size:30px auto;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter:alpha(opacity=0);
-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 0 -45px;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter:alpha(opacity=50);
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	background: url(../images/dot.png) no-repeat 0 -8px;
	background-size:9px 16px;
	display:block;
	height: 10px;
	overflow: hidden;
	text-indent:-99em;
	width: 8px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active {
	background-position: 0 0;
}

